{% extends 'base.html.twig' %}

{% block title %}Analyse technique{% endblock %}
{% block monTitre %}Analyse technique des mouvements{% endblock %}
{% block body %}
    {% for mvt in mvtTechniques %}
        <div class="row m-3">
            <div class="col">
                <h2>{{mvt.libelle}}</h2>
                {% for phase in mvt.phases %}
                    <div class="row m-2 justify-content-center">
                        <div class="col-8 text-justify">
                            <h4>{{phase.titre}}</h4>
                            <p>{{phase.libelle}}</p>
                        </div>
                        <div class="col-4">
                            <img src="{{asset('images/phase/' ~ phase.imageName)}}" class="img-fluid rounded mx-auto d-block" style="max-height: 300px;">
                        </div>
                    </div>
            {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
