{% extends 'base.html.twig' %}

{% block title %}Séances{% endblock %}
{% block monTitre %}Programme 2 séances par semaine{% endblock %}
{% block body %}
<div class="row">
    <div class="col">
        
    </div>
</div>
{% endblock %}

