{% extends 'base.html.twig' %}

{% block title %}Seances{% endblock %}
{% block monTitre %}Les séances d'entraînements{% endblock %}
{% block body %}
<h2>TEST</h2>
<a href="{{path('seance_manque_ext_finale')}}">lien seance manque extension</a>
{% endblock %}