{% extends 'base.html.twig' %}

{% block title %}Séances{% endblock %}
{% block monTitre %}Programmer des séances{% endblock %}
{% block body %}
<div class="row">
    <div class="col">
        L'objectif de cette section est de vous donner des pistes pour programmer des séances d'entrainement. 
        Ces exemples de programmation seront réalisés en tenant compte d'erreurs courantes, notamment pour les
        débutant. Néanmoins, elles n'ont aucunement l'objectif de remplacer l'expertise d'un entraineur
        compétent pour cette discipline.
    </div>
</div>
{% endblock %}

