
.policePerso {
    font-size: xx-large;    
    padding: 15px;
}

.bgColorCalcul{
    background-color: #3B73F5;
}


@media only screen and (max-width: 576px){

.imgArticle{
    width: 100%;
    height: auto;
    background-color: red;
}

 } 