{% extends 'base.html.twig' %}

{% block title %}Mouvement{% endblock %}
{% block monTitre %}Les différentes familles de mouvements{% endblock %}
{% block body %}
<div class="text-center">
    <h2 class="m-2">Les mouvements debout</h2> 
    <p class="m-2 text-justify" >
        Les mouvements debout consistent à supprimer la phase du passage lors de l’arraché, l’épaulé ou encore le jeté. En comparaison du mouvement global, la réception s’effectue sur une petite amplitude correspondant à un ¼ de flexion au niveau des genoux.
        Les mouvements debout présentent un intérêt dans la phase d’apprentissage car ils suppriment la phase du passage, qui est souvent difficile pour des débutants.
        Ils vont également permettre de se focaliser sur les phases de tirage et accentuer la synergie entre l’action des membres supérieurs et celle des membres inférieurs.
        Néanmoins, il faudra être vigilant sur une trop grande amplitude de déplacement latéral des pieds (pour le style en flexion), ou qu’une inclinaison du buste trop importante (pour le style en fente) ne viennent pas compenser un manque d’amplitude de flexion ou fente.
        Un excès de mouvements debout peut aussi gêner l’apprentissage du mouvement global en occultant le passage sous la barre.
    </p>
</div>
<div class="text-center">
    <a href="{{ path("mouvement_debout") }}" class="btn btn-info">Plus d'information</a>
<div>
<div>
    <h2 class="m-2">Les mouvements en puissance</h2> 
    <p class="m-2 text-justify" >
        Ils consistent à réaliser la totalité ou une partie des mouvements techniques en supprimant le déplacement latéral (ou longitudinal) des pieds. Les athlètes peuvent uniquement décoller les talons pour terminer sur les pointes de pieds, ils devront donc les mettre directement en position de réception.
L’objectif des mouvements en puissance est d’améliorer la trajectoire, le rythme du mouvement et l’enchaînement entre le 2ème tirage et le passage sous la barre.
Même si certains athlètes effectuent leurs arrachés, épaulés ou jeté sous cette forme, il nécessite un contrôle de la barre plus important (lié à la gestion de 2 points d’appuis contraires ; sol et barre), et ne convient donc pas aux débutants.
Utilisés de façon exagérée, ils peuvent aussi nuire à la fin de l’impulsion en cherchant à chuter trop rapidement.
    </p>
</div>
<div class="text-center">
    <a href="{{ path("mouvement_puissance") }}" class="btn btn-info">Plus d'information</a>
</div>
<div>
    <h2 class="m-2">Les mouvements en force</h2> 
    <p class="m-2 text-justify" >
        Ils sont généralement utilisés pour un travail de renforcement musculaire en insistant sur l’impulsion des jambes, le tirage des bras, la montée des épaules et enfin des coudes (pour l’arraché et l’épaulé), ainsi que la poussée des bras (pour le jeté). On peut aussi les utiliser pour remédier aux défauts de trajectoire de la barre.
        Essentiellement réalisés du sol, ils consistent à faire les mouvements techniques en terminant debout sans aucun retour flexion, ni déplacement des pieds. Les pratiquants terminent entièrement grandi sur la pointe des pieds.
        Utilisés de façon exagérée, ils peuvent nuire à la phase du passage.
    </p>
</div>
<div class="text-center">
    <a href="{{ path("mouvement_force") }}" class="btn btn-info">Plus d'information</a>
</div>


{% endblock %}
