{% extends 'base.html.twig' %}

{% block title %}Mouvements{% endblock %}
{% block monTitre %}Liste des mouvements {% endblock %}
{% block body %}
  <div class="row mx-2">
    {% for type in typeMouvements.mouvement %}
    <div class="col-lg-4 col-md-3 col-sm-2 card border-info m-3" style="max-width: 20rem;">
        <div class="card-header text-center fontSizeCard"><b>{{type.nom|capitalize}}</b></div>
        <div class="card-body">
          <p class="card-text">{{type.objectif}}</p>
        </div>
        <a href="{{path('mouvement_detail', {'id':type.id})}}" class="btn btn-info mb-2">Détail</a>
  </div>
{% endfor %}
</div>
{% endblock %}
