{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block monTitre %}Présentation du site{% endblock %}
{% block body %}
<div class="m-3">
    <p>Bienvenue sur notre site dédié à l'entraînement de l'halterophilie</p>
</div>
{% endblock %}
