<footer class="container-fluid bg-dark pt-2">
    <div class="row textFooter mb-2">
        <div class="col">
            <p class="d-inline">"Avec de l'expérience, on peut toujours améliorer ses compétences. Par contre, on ne
                change pas une personnalité"</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="text-light text-center"> <b>&copy 2021 cedricribassin.com - Tous droits réservés</b></p>
        </div>
    </div>
</footer>