<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
    <!--path me permet d'utiliser directement le nom de la route définit dans AccueilController -->
    <a class="navbar-brand" href="{{ path("accueil") }}"><img src="{{asset('images/logoSite.jpg')}}" class="rounded img-fluid" style="width: 125px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path("accueil") }}">L'halterophilie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path("mouvements") }}">Les mouvements halterophiles</a>
            </li>
      </ul>
    </div>
  </nav>