{% extends 'base.html.twig' %}

{% block title %}Apprentissage{% endblock %}
{% block monTitre %}Apprentissage de l'haltérophilie{% endblock %}
{% block body %}
    {% for principe in apprentissage %}
        <div class="row m-3">
            <div class="col text-justify">
                <h2>{{principe.titre}}</h2>
                <p>{{principe.texte}}</p>
                {% for etape in principe.etape %}
                    <h4>{{etape.gesteConcerne}}</h4>
                    <p>{{etape.libelle}}</p>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
