{% extends 'base.html.twig' %}

{% block title %}Programmes{% endblock %}
{% block monTitre %}Les différents programmes d'entraînement{% endblock %}
{% block body %}
<h2>Prog manque d'extension</h2>
<a href="{{path('prog_manque_ext_Ep_Arr')}}">lien seance manque extension</a>

{% endblock %}